.content__by {
  height: 60px;
  margin-bottom: 15px;
}
.content__text {
  margin-bottom: 27px;
  margin-left: 65px;
  width: 276px;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  box-sizing: border-box;
}
