a {
  text-decoration: none;
}
.container .header__comments {
  position: absolute;
  width: 100%;
  height: 528px;
  left: 0px;
  top: 0px;
  background-color: #5255be;
}
.container .header__comments.show {
  background-color: #83c8f7;
}
.container .header__comments.ask {
  background-color: #b3b5f9;
}

.container .header__back {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 26px;
  top: 73px;
  font-size: 15px;
  line-height: 22px;
  color: #dbdcef;
}
.container .header__title {
  position: absolute;
  width: 344px;
  left: 22px;
  top: 100px;
}
.container .header__title > .title-text {
  height: 240px;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.container .header__title > .header__url {
  position: relative;
  width: 200px;
  height: 44px;
  background: #80b8fa;
  border-radius: 100px;
  cursor: pointer;
}
.container .header__title.show > .header__url {
  background-color: #5255be;
}
.container .header__title.ask > .header__url {
  display: none;
}
.container .header__title > .header__url > .url__string {
  position: absolute;
  width: 170px;
  height: 24px;
  left: 20px;
  top: 10px;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .header__title > .header__url > .more {
  position: absolute;
  width: 12px;
  height: 24px;
  left: 190px;
  top: 10px;
  color: #ffffff;
}
.container .header__by__logo {
  position: absolute;
  width: 100%;
  height: 22px;
  left: 18px;
  bottom: 64px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.container .header__by__logo > .header__by {
  font-size: 15px;
  line-height: 22px;
  color: #dbdcef;
}
.container .header__by__logo > .logo.logo__point__comment {
  margin-right: 22px;
}
.container .header__by__logo > .logo__point__comment span {
  font-size: 13px;
  line-height: 19px;
  /* vertical-align: text-top; */
  color: #dbdcef;
}
.container .header__more {
  position: absolute;
  width: 15px;
  height: 19px;
  right: 66px;
  bottom: 65x;
  font-size: 13px;
  line-height: 19px;
  color: #dbdcef;
}

.container .content__comments {
  width: 100%;
  height: 416px;
  position: absolute;
  top: 480px;
  background: #ffffff;
  box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  overflow: hidden;
}
.container .content__up {
  position: relative;
  width: 14px;
  height: 25px;
  left: 30px;
  top: 30.8px;
  bottom: 0%;
  box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.13);
}
.container .content__title {
  position: relative;
  height: 36px;
  left: 25px;
  top: 32px;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  color: #000000;
}

.container .content__inner {
  width: 100%;
  height: 408px;
  margin-top: 50px;
  margin-left: 30px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}
.container .content__inner .noComment {
  position: absolute;
  width: 276px;
  height: 51px;
  left: 51px;
  top: 85px;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  color: rgba(164, 164, 164, 0.5);
}
