.header {
  width: 100%;
  height: 147px;
  display: flex;
  position: relative;
}
.header .title {
  width: 100%;
}
.header .title h1 {
  margin-top: 70px;
  margin-left: 25px;
  font-size: 40px;
  line-height: 58px;
}
.header .footer {
  display: flex;
  position: absolute;
  left: 78%;
  top: 59%;
}
.header .footer .logo {
  width: 23px;
  height: 29px;
  margin-left: 18px;
}
.header .footer .dots {
  width: 7px;
  height: 27px;
}
