#div-page.page.job {
  position: absolute;
  width: 100%;
  height: 364px;
  background: #ffffff;
  border-radius: 30px 30px 0px 0px;
  top: 442px;
}
.page.job > .page-slider {
  height: 811px;
  overflow: auto;
}
.page.job > .content__up {
  position: relative;
  width: 14px;
  height: 25px;
  left: 0;
  top: 30px;
  bottom: 0%;
  box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.13);
}
.page.job > .card__title {
  width: 45px;
  height: 36px;
  margin-top: 31px;
  padding-left: 10px;
}
.page.job > .card__title h4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
}
.page.job > .page-slider > .card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.page-slider .card > .card__item {
  width: 171px;
  height: 197px;
  margin-bottom: 15px;
  background: #f7f6fa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.page-slider .card > .card__item .job-title {
  margin: 0 auto;
  padding-left: 2px;
  padding-top: 25px;
  width: 141px;
  height: 98px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  overflow: hidden;
}
.page-slider .card > .card__item .job-url {
  position: absolute;
  width: 141px;
  height: 36px;
  left: 17px;
  bottom: 10px;
  font-size: 15px;
  line-height: 22px;
  color: #959595;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
