.card.show {
  position: relative;
}
.content__header {
  display: flex;
  padding-top: 13px;
  margin-left: 16px;
  box-sizing: border-box;
}
.content__header .profile__img {
  width: 60px;
  height: 60px;
}
.content__header .profile__img img {
  width: 60px;
  height: 60px;
}
.content__header .content__by {
  margin-left: 5px;
  height: 30px;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.content__text__more > .content__text {
  margin-bottom: 5px;
  margin-left: 65px;
  width: 276px;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  box-sizing: border-box;
}

.page.show .card > .card__container {
  position: absolute;
  left: 16px;
  top: 60px;
  box-sizing: border-box;
}
.page.show .card.show > .detailClick {
  width: 350px;
  height: 100px;
  background-color: yellow;
}
.page.show .card > .card__container > .card__item.title {
  width: 355px;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
