.container {
  width: 414px;
  height: 896px;
  background-color: #f7f6fa;
  border: 1px solid black;
  position: relative;
}

.page {
  width: 100%;
  height: 659px;
  padding-left: 25px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 147px;
  bottom: 0;
  overflow: auto;
}

.container .seach-bar {
  width: 364px;
  height: 80px;
  background: #ffffff;
  border-radius: 30px;
}
