.container .page.submissions {
  top: 85px;
}
.container > .header__back {
  position: absolute;
  top: 70px;
  left: 27px;
  cursor: pointer;
}
.container > .title-container.submissions {
  position: absolute;
  height: 450px;
  top: 90px;
  left: 25px;
}
.container #div-page-2.page.submissions {
  width: 100%;
  height: 700px;
  padding-left: 25px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 175px;
  bottom: 0;
  overflow: auto;
}
.content__comments.submissions {
  top: -30px;
  left: 0;
  height: 900px;
}
.content__comments.submissions > .content__inner {
  height: 800px;
}
