.container .header.top {
  width: 100%;
  position: relative;
}
.container .header .title {
  width: 100%;
  box-sizing: border-box;
}
.container .header .title h1 {
  width: 100%;
  padding-left: 25px;
  font-size: 40px;
  line-height: 58px;
  box-sizing: border-box;
  color: #000;
}
.container .header .footer .logo {
  width: 23px;
  height: 29px;
}
.container .header .footer .dots {
  width: 7px;
  height: 27px;
}
.container .space {
  margin-right: 17px;
}
.container > .slider__container {
  left: 0;
  width: 100%;
  height: 383px;
  position: relative;
}
.container .slider__container .slider {
  width: 1260px;
  display: flex;
}
.container > .slider__container .slider__title {
  margin-left: 25px;
  position: relative;
}
.container > .slider__container .slider__title > h4 {
  display: block;
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
  position: absolute;
  top: -35px;
}
.container > .slider__container #first.slider__box {
  width: 247px;
  height: 320px;
  margin-left: 25px;
  margin-top: 48px;
  background-color: #5255be;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
}
.container > .slider__container .slider__box {
  width: 220px;
  height: 287px;
  margin-left: 25px;
  margin-top: 60px;
  background-color: #dbdcef;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
}
.slider__container .slider__box #first.slider__text {
  width: 190px;
  height: 132px;
  padding-top: 50px;
  padding-left: 28px;
  box-sizing: border-box;
}
.slider__container .slider__box .slider__text {
  height: 51px;
  padding-top: 50px;
  padding-left: 28px;
  box-sizing: border-box;
}
.slider__container .slider__box .slider__text > .text__title {
  width: 170px;
  height: 120px;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #000;
  overflow: hidden;
  position: relative;
}
.slider__container .slider__box .slider__text #first.text__title {
  width: 180px;
  height: 145px;
  font-weight: bold;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.slider__container .slider__box .slider__text > .text__by {
  margin-top: 15px;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}
.slider__container .slider__box .slider__text > #first.text__by {
  margin-top: 15px;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.55);
}
.slider__container .slider__box > .slider__logo {
  width: 100%;
  height: 22px;
  margin-top: 180px;
  margin-left: 25px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}
.slider__container .slider__box > #first.slider__logo {
  width: 90%;
  height: 15px;
  margin-top: 220px;
  margin-left: 30px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.slider__box .slider__logo > .logo.logo__point__comment {
  margin-right: 22px;
}
.slider__box .slider__logo > .logo__point__comment span#first {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  color: #dbdcef;
  vertical-align: top;
}
.slider__box .slider__logo > .logo__point__comment span {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  color: #63636c;
  vertical-align: top;
}
.slider__box .slider__logo > #first.more {
  position: absolute;
  top: -17px;
  left: 145px;
}
.slider__box .slider__logo > .more {
  position: absolute;
  top: -17px;
  left: 135px;
}
.container #topPage.page.top {
  width: 100%;
  height: 300px;
  padding-left: 25px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 530px;
  overflow: hidden;
}
.container #topPage.page.top > .card__title {
  position: absolute;
  top: -20px;
  left: 25px;
}
.container #topPage.page.top > .card__title > h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
}
.container #div-page.page {
  width: 100%;
  height: 659px;
  padding-left: 25px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow: auto;
}
